body {
    background: url('../img/ground.jpg') no-repeat;
    background-size: 100% auto;
}

#login_box {
    width: 20%;
    height: 400px;
    /*background-color: #00000060;*/
    margin: auto;
    margin-top: 10%;
    text-align: center;
    border-radius: 10px;
    padding: 50px 50px;
}

#login_box input,
#login_box button {
    outline: none;
}

#login_box h2 {
    color: #ffffff90;
    margin-top: 5%;
}

#login_box #form #input_box {
    margin-top: 5%;
}


#login_box #form #input_box input {
    border: 0;
    width: 60%;
    font-size: 15px;
    color: #ffffff;
    background: #ffffff00;
    border-bottom: 2px solid #ffffff;
    padding: 5px 10px;
    margin-top: 10px;
}


#login_box button {
    margin-top: 50px;
    width: 65%;
    height: 25px;
    border-radius: 10px;
    border: 0;
    color: #fff;
    font-size: 15px;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    cursor: pointer;
}

#login_box #sign_up {
    margin-top: 30%;
}

#login_box #sign_up a {
    color: #b94648;
}
.input_box input{
    margin-top: 50px;
    width: 40%;
    height: 20px;
    border-radius: 10px;
    border: 0;
    color: #fff;
    font-size: 15px;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    cursor: pointer;
}

.errorMsg{
    color: #b94648;
}

#sign_up a:link{
    text-decoration:none;
}

#sub_btn{
    margin-top: 50px;
    width: 65%;
    height: 25px;
    border-radius: 10px;
    border: 0;
    color: #fff;
    font-size: 15px;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    cursor: pointer;
}